numpy==1.16.2
pandas==0.25.1
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-rl==0.4.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
sklearn==0.0
h5py==2.10.0
matplotlib==2.0.2
gym==0.9.4
